<div class="p-grid crud-demo">
    <div class="p-col-12">
        <div class="card p-p-0">
            <Toast />
            <Toolbar class="no-bg">
                <template slot="right">
                    <Button label="New" icon="pi pi-plus" class="p-button-success" @click="openCreateRoleDialog" />
                </template>
            </Toolbar>

            <DataTable :value="data.roles" dataKey="id" class="p-datatable-sm">
                <ProgressBar v-if="isFetching" mode="indeterminate" style="height: .2rem;"></ProgressBar>
                <template #header>
                    <div class="table-header">
                        <h5 class="p-m-0">Roles</h5>
                    </div>
                </template>

                <Column header="ID" field="id" headerStyle="width:50px;text-align:center" bodyStyle="text-align:center"></Column>
                <Column field="name" header="Name" 
                    style="text-align: center;"></Column>
                <Column field="enabled" header="Status" 
                    headerStyle="width: 100px">
                    <template #body="slotProps">
                        <span v-if="slotProps.data.enabled" class="text-color-success">Enabled</span>
                        <span v-else class="text-color-danger">Disabled</span>
                    </template>
                </Column>
                <Column header="Action" 
                    headerStyle="width: 100px;text-align:center"
                    bodyStyle="text-align:center">
                    <template #body="slotProps">
                        <span @click="openUpdateRoleDialog(slotProps.index)" class="stage-badge status-complete">Edit</span>
                    </template>
                </Column>
            </DataTable>

            <!-- Dialog of Create Role -->
            <Dialog :visible.sync="showCreateRoleDialog" :style="{width: '50vw'}" header="Create Role" :modal="true" class="p-fluid">
                <div class="p-grid">
                    <div class="p-col-8">
                        <div class="p-field">
                            <label for="name">Name</label>
                            <InputText id="name" v-model.trim="body.name" required="true" autofocus/>
                        </div>
                    </div>
                    <div class="p-col-4">
                        <div class="p-field pt-2">
                            <label>Status</label>
                            <div class="p-grid">
                                <div v-for="status in roleStatus" :key="status.name" class="p-col p-field-radiobutton">
                                    <RadioButton :id="status.name" name="status" :value="status.value" v-model="body.status" />
                                    <label :for="status.name">{{status.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <template #footer>
                    <Button v-if="isCreatingRole" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else label="Save" icon="pi pi-check" class="p-button-text" @click="createRole" />
                </template>
            </Dialog>

            <!-- Dialog of Update Role -->
            <Dialog :visible.sync="showUpdateRoleDialog" :style="{width: '450px'}" header="Update Role" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="name">Name</label>
                    <InputText id="name" v-model.trim="body.name" required="true" autofocus/>
                </div>
                <div class="p-field pt-2">
                    <label>Status</label>
                    <div v-for="status in roleStatus" :key="status.name" class="p-field-radiobutton">
                        <RadioButton :id="status.name" name="status" :value="status.value" v-model="body.status" />
                        <label :for="status.name">{{status.name}}</label>
                    </div>
                </div>
                <template #footer>
                    <Button v-if="isUpdatingRole" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else label="Save" icon="pi pi-check" class="p-button-text" @click="updateRole" />
                </template>
            </Dialog>
        </div>
    </div>
</div>