<div class="p-grid crud-demo">
    <div class="p-col-12">
        <div class="card p-p-0">
            <Toast />
            <Toolbar class="no-bg">
                <template slot="right">
                    <Button @click="exportCSV($event)" label="Export" icon="pi pi-upload" class="p-button-help" />
                </template>
            </Toolbar>

            <DataTable :value="data.orders" dataKey="id" class="p-datatable-sm">
                <ProgressBar v-if="isFetching" mode="indeterminate" style="height: .2rem;"></ProgressBar>
                <template #header>
                    <div class="table-header">
                        <h5 class="p-m-0">Orders</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText @keyup.enter="searchCategory" v-model="keySearch" placeholder="Search" />
                        </span>
                    </div>
                </template>

                <Column header="Ref" field="ref" bodyStyle="white-space: nowrap;"></Column>
                <Column header="Total" headerStyle="text-align:right" bodyStyle="text-align:right">
                    <template #body="slotProps">
                        <span>{{formatPrice(slotProps.data.total)}}</span>
                    </template>
                </Column>
                <Column header="Total Discount" headerStyle="text-align:right" bodyStyle="text-align:right">
                    <template #body="slotProps">
                        <span>{{formatPrice(slotProps.data.totalPriceDiscount)}}</span>
                    </template>
                </Column>
                <Column header="Grand Total" headerStyle="text-align:right" bodyStyle="text-align:right">
                    <template #body="slotProps" >
                        <span>{{formatPrice(slotProps.data.grandTotal)}}</span>
                    </template>
                </Column>
                <Column field="customer.fullName" header="Customer Name"></Column>
                <Column header="Created At" field="created">
                    <template #body="slotProps">
                        <span>{{slotProps.data.created | moment("DD-MM-YYYY")}}</span>
                    </template>
                </Column>
                <Column header="Status" field="orderState" headerStyle="width: 100px;">
                    <template #body="slotProps">
                        <span v-if="slotProps.data.orderState == 'PENDING'" class="text-color-warning">Pending</span>
                        <span v-if="slotProps.data.orderState == 'CANCEL'" class="text-color-danger">Cancel</span>
                        <span v-if="slotProps.data.orderState == 'COMPLETED'" class="text-color-success">Completed</span>
                    </template>
                </Column>
                <Column header="Action" headerStyle="width: 100px;text-align:center" bodyStyle="text-align:center">
                    <template #body="slotProps">
                        <router-link :to="{name: 'order-detail', params:{id: slotProps.data.id}}" class="stage-badge status-complete p-mr-2">Detail</router-link>
                    </template>
                </Column>
            </DataTable>
            <Paginator v-if="!isFetching && data.orders.length > 0" :rows="pagination.size" :totalRecords="pagination.length" @page="onPage($event)"></Paginator>

            <!-- Dialog of Create Category -->
            <Dialog :visible.sync="showCreateCategoryDialog" :style="{width: '450px'}" header="Create Category" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="name">Name</label>
                    <InputText id="name" v-model.trim="category.name" required="true" autofocus/>
                </div>
                <template #footer>
                    <Button v-if="isCreatingCategory" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="validateBeforeCreateCategory" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>

            <!-- Dialog of Update Category -->
            <Dialog :visible.sync="showUpdateCategoryDialog" :style="{width: '450px'}" header="Update Category" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="name">Name</label>
                    <InputText id="name" v-model.trim="category.name" required="true" autofocus/>
                </div>
                <template #footer>
                    <Button v-if="isUpdatingCategory" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="validateBeforeUpdateCategory" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>
        </div>
    </div>
</div>