<div class="p-grid crud-demo">
    <div class="p-col-12">
        <div class="card p-p-0">
            <Toast/>
            <Toolbar class="no-bg">
                <!-- <template slot="left">
                    <Button @click="openCreateCustomerDialog" label="New" icon="pi pi-plus" class="p-button-success p-mr-2" />
                </template> -->

                <template slot="right">
                    <Button @click="exportCSV($event)" label="Export" icon="pi pi-upload" class="p-button-help" />
                </template>
            </Toolbar>

            <DataTable ref="dataCustomer" :value="data.customers" :rows="10" class="p-datatable-sm">
                <ProgressBar v-if="isFetching" mode="indeterminate" style="height: .2rem;"></ProgressBar>
                <template #header>
                    <div class="table-header">
                        <h5 class="p-m-0">Customer Management</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText @keyup.enter="searchCustomer" v-model="keySearch" placeholder="Search..." />
                        </span>
                    </div>
                </template>
                <Column field="id" header="ID" headerStyle="width: 50px;"></Column>
                <Column field="fullName" header="Full Name"></Column>
                <Column field="phone" header="Phone"></Column>
                <Column field="email" header="Email"></Column>
                <!-- <Column header="Action" 
                    headerStyle="width: 200px;text-align:center"
                    bodyStyle="text-align:center">
                    <template #body="slotProps" >
                        <span @click="openUpdateCustomerDialog(slotProps.index)" class="stage-badge status-waiting">Edit</span>
                    </template>
                </Column> -->
            </DataTable>

            <Paginator v-if="!isFetching && data.customers.length" :rows="pagination.size" :totalRecords="pagination.length" @page="onPage($event)"></Paginator>

            <!-- Dialog of Create Customer -->
            <Dialog :visible.sync="showCreateCustomerDialog" :style="{width: '450px'}" header="Create Customer" :modal="true" class="p-fluid">
                <div class="p-field">
                    <label for="firstname">First name</label>
                    <InputText id="firstname" v-model="customer.firstName" />
                </div>
                <div class="p-field">
                    <label for="lastname">Last name</label>
                    <InputText id="lastname" v-model="customer.lastName" />
                </div>
                <div class="p-field">
                    <label for="phone">Phone</label>
                    <InputText id="phone" v-model="customer.phone" />
                </div>
                <div class="p-field">
                    <label for="email">Email</label>
                    <InputText id="email" v-model="customer.email" />
                </div>
                <div class="p-field">
                    <label for="password">Password</label>
                    <InputText v-model="customer.password" type="password" id="password" />
                </div>
                <template #footer>
                    <Button v-if="isCreatingCustomer" label="Loading..." icon="pi pi-check" class="p-button-text" />
                    <Button v-else @click="validateBeforeCreateCustomer" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>

            <!-- Dialog of Update Customer -->
            <Dialog :visible.sync="showUpdateCustomerDialog" :style="{width: '450px'}" header="Update Customer" :modal="true" class="p-fluid">
                <div class="p-field">
                    <label for="name">Name</label>
                    <InputText id="name" v-model="customer.name" />
                </div>
                <div class="p-field">
                    <label for="phone">Phone</label>
                    <InputText id="phone" v-model="customer.phone" />
                </div>
                <div class="p-field">
                    <label for="email">Email</label>
                    <InputText id="email" v-model="customer.email" />
                </div>
                <div class="p-field">
                    <label for="address">Address</label>
                    <InputText id="address" v-model="customer.address" />
                </div>
                <template #footer>
                    <Button v-if="isUpdatingCustomer" label="Loading..." icon="pi pi-check" class="p-button-text" />
                    <Button v-else @click="updateCustomer" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>
        </div>
    </div>
</div>