<div class="p-grid crud-demo">
    <div class="p-col-12">
        <div class="card p-p-0">
            <Toast />
            <Toolbar class="no-bg">
                <template slot="right">
                    <Button label="New" icon="pi pi-plus" class="p-button-success" @click="openCreateDialog" />
                </template>
            </Toolbar>

            <!-- <DataTable :value="products" :rowHover="true" :reorderableColumns="true" @columnReorder="onColReorder" @rowReorder="onRowReorder" responsiveLayout="scroll">
                <Column :rowReorder="true" headerStyle="width: 3rem" :reorderableColumn="true" />
                <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field"></Column>
            </DataTable> -->
            <div style="width: 100%;display: inline-table;padding: 12px;background: #f8f9fa;font-size: 17px;font-weight: 500;">
                Slides
            </div>
            <div class="s-item" style="background: #f8f9fa;display:inline-table">
                <div class="s-item-info" style="width: 50px;float: left;">
                    <b>ID</b>
                </div>
                <div class="s-item-info" style="width: 100px;float: left;">
                    <b>Image</b>
                </div>
                <div class="s-item-info" style="width: 100px;float: right;">
                    <b>Action</b>
                </div>
                <div class="s-item-info" style="text-align: left;">
                    <b>Title</b>
                </div>
            </div>
            
            <draggable v-model="data.slides" group="people" @start="drag=true" @end="drag=false" @change="updateSlideOrdering">
                <div v-for="(slide,slideIndex) in data.slides" :key="(slide,slideIndex)" class="s-item">
                    <div class="s-item-info" style="width: 50px;float: left;">
                        <span style="line-height: 39px;">{{slide.id}}</span>
                    </div>
                    <div class="s-item-info" style="width: 100px;float: left;">
                        <img :src="getFullPathImage(slide.image)" style="width: 36px;height: 36px;object-fit: cover;" />
                    </div>
                    <div class="s-item-info" style="width: 100px;float: right;">
                        <i @click="openUpdateDialog(slideIndex)" class="pi pi-pencil" style="line-height: 39px;"></i>
                    </div>
                    <div class="s-item-info" style="text-align: left;">
                        <span style="line-height: 39px;">{{slide.title}}</span>
                    </div>
                </div>
            </draggable>

            <!-- Dialog of Create Slide -->
            <Dialog :visible.sync="showCreateDialog" :style="{width: '450px'}" header="Create Slide" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="choose-image" class="pointer">
                        <img :src="slide.imageFile ? fileToPath(slide.imageFile) : require('@/assets/images/default.jpeg')"
                            class="product-image" />
                    </label>
                    <input @change="chooseImage($event)" hidden id="choose-image" type="file" accept="image/*" />
                </div>
                <div class="p-field">
                    <label for="url">Action URL</label>
                    <InputText id="url" v-model.trim="slide.url" required="true" autofocus />
                </div>
                <div class="p-field">
                    <label for="url">Title</label>
                    <InputText id="url" v-model.trim="slide.title" required="true" autofocus />
                </div>
                <div class="p-field">
                    <label for="url">Short Description</label>
                    <InputText id="url" v-model="slide.description" required="true" autofocus />
                </div>
                <div class="p-field pt-2">
                    <label>Status</label>
                    <Dropdown v-model="slide.status" :options="slideStatus" optionValue="value" optionLabel="name"
                        placeholder="Select a status">
                    </Dropdown>
                </div>
                <div class="p-field">
                    <label>Ordering</label>
                    <InputNumber v-model.trim="slide.ordering" required="true" autofocus />
                </div>
                <template #footer>
                    <Button v-if="isCreating" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="validateBeforeCreate" label="Save" icon="pi pi-check"
                        class="p-button-text" />
                </template>
            </Dialog>

            <!-- Dialog of Update Slide -->
            <Dialog :visible.sync="showUpdateDialog" :style="{width: '450px'}" header="Update Slide" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="ggchoose-image" class="pointer">
                        <img :src="slide.imageFile ? fileToPath(slide.imageFile) : slide.image ? getFullPathImage(slide.image) : require('@/assets/images/default.jpeg')"
                            class="product-image" />
                    </label>
                    <input @change="chooseImage($event)" hidden id="ggchoose-image" type="file" accept="image/*" />
                </div>
                <div class="p-field">
                    <label>Action URL</label>
                    <InputText v-model.trim="slide.url" required="true" autofocus />
                </div>
                <div class="p-field">
                    <label for="url">Title</label>
                    <InputText id="url" v-model.trim="slide.title" required="true" autofocus />
                </div>
                <div class="p-field">
                    <label for="url">Short Description</label>
                    <InputText id="url" v-model="slide.description" required="true" autofocus />
                </div>
                <div class="p-field pt-2">
                    <label>Status</label>
                    <Dropdown v-model="slide.status" :options="slideStatus" optionValue="value" optionLabel="name"
                        placeholder="Select a status">
                    </Dropdown>
                </div>
                <template #footer>
                    <Button v-if="isUpdating" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="validateBeforeUpdate" label="Save" icon="pi pi-check"
                        class="p-button-text" />
                </template>
            </Dialog>
        </div>
    </div>
</div>