<div class="p-grid crud-demo">
    <div class="p-col-12">
        <div class="card p-p-0">
            <Toast />
            <Toolbar class="no-bg">
                <template slot="right">
                </template>
            </Toolbar>

            <DataTable :value="data.users" dataKey="id" class="p-datatable-sm">
                <ProgressBar v-if="isFetching" mode="indeterminate" style="height: .2rem;"></ProgressBar>
                <template #header>
                    <div class="table-header">
                        <h5 class="p-m-0">Users</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText @keyup.enter="searchUser" v-model="keySearch" placeholder="Search" />
                        </span>
                    </div>
                </template>
                <Column header="ID" field="id" headerStyle="width:50px;text-align:center" bodyStyle="text-align:center"></Column>
                <Column header="Image" headerStyle="width:70px">
                    <template #body="slotProps">
                        <img v-if="slotProps.data.photo" :src="getFullPathImage(slotProps.data.photo)" class="table-image" />
                        <img v-else :src="require('@/assets/images/default.jpeg')" class="table-image" />
                    </template>
                </Column>
                <Column header="Name">
                    <template #body="slotProps">
                        <span>{{slotProps.data.firstName}} {{slotProps.data.lastName}}</span>
                    </template>
                </Column>
                <Column header="Role" field="role.name" headerStyle="width: 100px"></Column>
                <Column field="status" header="Status" headerStyle="width: 100px">
                    <template #body="slotProps">
                        <span v-if="slotProps.data.user.enabled" @click="openUpdateDialog(slotProps.index)" class="stage-badge status-complete">Enabled</span>
                        <span v-else @click="openUpdateDialog(slotProps.index)" class="stage-badge status-waiting">Disabled</span>
                    </template>
                </Column>
            </DataTable>
            <Paginator v-if="!isFetching && data.users.length > 0" :rows="pagination.size" :totalRecords="pagination.length" @page="onPage($event)"></Paginator>

            <!-- Dialog of Update Category -->
            <Dialog :visible.sync="showUpdateDialog" :style="{width: '450px'}" header="Update User" :modal="true"
                class="p-fluid">
                <div v-if="updateIndex > -1" class="p-field">
                    <label for="name">Are you sure to {{data.users[updateIndex].user.enabled ? 'disable' : 'enable'}} this user?</label>
                </div>
                <template #footer>
                    <Button v-if="isUpdating" label="Loading..." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="updateUser" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>
        </div>
    </div>
</div>