<div class="p-grid crud-demo">
    <div class="p-col-12">
        <div class="card p-p-0">
            <Toast />
            <Toolbar class="no-bg">
                <template slot="right">
                    <Button label="New" icon="pi pi-plus" class="p-button-success" @click="openCreateDialog" />
                </template>
                <template slot="right">
                </template>
            </Toolbar>

            <DataTable :value="data.users" dataKey="id" class="p-datatable-sm">
                <ProgressBar v-if="isFetching" mode="indeterminate" style="height: .2rem;"></ProgressBar>
                <template #header>
                    <div class="table-header">
                        <h5 class="p-m-0">Users</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText @keyup.enter="searchUser" v-model="keySearch" placeholder="Search" />
                        </span>
                    </div>
                </template>
                <Column header="ID" field="id" headerStyle="width:50px;text-align:center" bodyStyle="text-align:center"></Column>
                <Column header="Image" headerStyle="width:70px">
                    <template #body="slotProps">
                        <img v-if="slotProps.data.photo" :src="getFullPathImage(slotProps.data.photo)" class="table-image" />
                        <img v-else :src="require('@/assets/images/default.jpeg')" class="table-image" />
                    </template>
                </Column>
                <Column header="Name">
                    <template #body="slotProps">
                        <span>{{slotProps.data.firstName}} {{slotProps.data.lastName}}</span>
                    </template>
                </Column>
                <Column header="Role" field="role.name" headerStyle="width: 100px"></Column>
                <Column field="enabled" header="Status" headerStyle="width: 100px;text-align:center" bodyStyle="text-align:center">
                    <template #body="slotProps">
                        <InputSwitch v-if="slotProps.data.id != userId" @change="updateUserStatus(slotProps.index)" v-model="slotProps.data.user.enabled" />
                    </template>
                </Column>
                <Column header="Action" headerStyle="width: 100px;text-align:center" bodyStyle="text-align:center">
                    <template #body="slotProps">
                        <i @click="openUpdateDialog(slotProps.index)" class="pi pi-pencil pointer"></i>
                    </template>
                </Column>
            </DataTable>

            <div class="p-col-12" style="display: inline-block;">
                <div class="p-ml-3" style="float: left;margin-top: 16px;">
                    <span>Show records : </span>
                    <Dropdown @change="changeLimit()" v-model="pagination.size" 
                        :options="limits" 
                        optionValue="val" 
                        optionLabel="label" />
                </div>
                <Paginator v-if="!isFetching && data.users.length > 0" :rows="pagination.size" :totalRecords="pagination.length" @page="onPage($event)" style="float: right;"></Paginator>
            </div>

            <!-- Dialog of Create User -->
            <Dialog :visible.sync="showCreateDialog" :style="{width: '450px'}" header="Create User" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="choose-image" class="pointer">
                        <img :src="user.imageFile ? fileToPath(user.imageFile) : require('@/assets/images/default.jpeg')" class="product-image" />
                    </label>
                    <input @change="chooseImage($event)" hidden id="choose-image" type="file" accept="image/*" />
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <label>First Name</label>
                        <InputText v-model.trim="user.firstname" required="true" autofocus/>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="name">Last Name</label>
                        <InputText v-model.trim="user.lastname" required="true" autofocus/>
                    </div>
                </div>
                <div class="p-field">
                    <label for="role">Role</label>
                    <Dropdown v-model="user.role" 
                        :options="data.roles" 
                        optionValue="id" 
                        optionLabel="name"
                        id="role" />
                </div>
                <div class="p-field">
                    <label for="name">Phone</label>
                    <InputText v-model.trim="user.phone" required="true" autofocus/>
                </div>
                <div class="p-field">
                    <label for="name">Email</label>
                    <InputText v-model.trim="user.email" required="true" autofocus/>
                </div>
                <div class="p-field">
                    <label for="name">Password</label>
                    <InputText v-model="user.password" type="password" id="password" />
                </div>
                <template #footer>
                    <Button v-if="isCreating" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="validateBeforeCreate" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>

            <!-- Dialog of Update User -->
            <Dialog :visible.sync="showUpdateDialog" :style="{width: '450px'}" header="Update User" :modal="true"
                class="p-fluid">
                <div class="p-field">
                    <label for="choose-image" class="pointer">
                        <img :src="user.imageFile ? fileToPath(user.imageFile) : user.photo ? getFullPathImage(user.photo) : require('@/assets/images/default.jpeg')" class="product-image" />
                    </label>
                    <input @change="chooseImage($event)" hidden id="choose-image" type="file" accept="image/*" />
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <label>First Name</label>
                        <InputText v-model.trim="user.firstname" required="true" autofocus/>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="name">Last Name</label>
                        <InputText v-model.trim="user.lastname" required="true" autofocus/>
                    </div>
                </div>
                <div class="p-field">
                    <label for="role">Role</label>
                    <Dropdown v-model="user.role" 
                        :options="data.roles" 
                        optionValue="id" 
                        optionLabel="name"
                        id="role" />
                </div>
                <div class="p-field">
                    <label for="name">Email</label>
                    <InputText v-model.trim="user.email" required="true" autofocus/>
                </div>
                <template #footer>
                    <Button v-if="isUpdating" label="Loading.." icon="pi pi-loading" class="p-button-text" />
                    <Button v-else @click="validateBeforeUpdate" label="Save" icon="pi pi-check" class="p-button-text" />
                </template>
            </Dialog>
        </div>
    </div>
</div>