.product-image {
	width: 100px;
}
.p-dialog .product-image {
	width: 150px;
	margin: 0 auto 2rem auto;
	display: block;
}
.confirmation-content {
	display: flex;
	align-items: center;
	justify-content: center;
}